[user]
	name = Mykola Basov
	email = git@mbasov.com
	username = m-basov
[push]
	default = simple
[github]
	user = m-basov
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	quotepath = false
[diff]
	tool = nvim -d
	algorithm = histogram
[merge]
	tool = nvim -d
[alias]
	pl = pull
	p = push
	st = status
	co = checkout
	cm = commit -am
	a = add
	br = checkout -b
	m = merge
	c = clone
	d = diff

[color]
	ui = true
[status]
	short = true
	branch = true
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
